body {
  @include blinker(400);
  font-size: 36px;
  font-style: normal;
  background-image: url('../images/content/bg-main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1448px;
  margin: 0 auto;
  padding: 0 20px;

  &--small{
    max-width: 918px;
  }
}
